# Required for Twitch.tv integration.
NUXT_TWITCH_CLIENT_ID=
NUXT_TWITCH_CLIENT_SECRET=
NUXT_TWITCH_REDIRECT_URI=http://localhost:3000/api/twitch/oath

# Required for Kick.com integration.
NUXT_KICK_CLIENT_ID=
NUXT_KICK_CLIENT_SECRET=
NUXT_KICK_REDIRECT_URI=http://localhost:3000/api/kick/oath
