@import './button';

.p-confirmpopup {
  @apply absolute left-0 top-0 mt-[10px] rounded-md border border-surface-200 bg-surface-0 text-surface-700 shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-2px_rgba(0,0,0,0.1)] before:pointer-events-none before:absolute before:bottom-full before:left-5 before:-ms-[10px] before:h-0 before:w-0 before:border-[10px] before:border-transparent before:border-b-surface-200 after:pointer-events-none after:absolute after:bottom-full after:left-5 after:-ms-[8px] after:h-0 after:w-0 after:border-[8px] after:border-transparent after:border-b-surface-0 dark:border-surface-700 dark:bg-surface-900 dark:text-surface-0 dark:before:border-b-surface-700 dark:after:border-b-surface-900;
}

.p-confirmpopup-content {
  @apply flex items-center gap-4 p-3;
}

.p-confirmpopup-icon {
  @apply h-6 w-6 text-2xl text-surface-700 dark:text-surface-0;
}

.p-confirmpopup-footer {
  @apply flex justify-end gap-2 px-3 pb-3 pt-0;
}

.p-confirmpopup-footer button {
  @apply w-auto;
}

.p-confirmpopup-footer button:last-child {
  @apply m-0;
}

.p-confirmpopup-flipped {
  @apply -mt-[10px] mb-[10px];
}

.p-confirmpopup-enter-from {
  @apply scale-y-75 opacity-0;
}

.p-confirmpopup-leave-to {
  @apply opacity-0;
}

.p-confirmpopup-enter-active {
  @apply [transition:transform_120ms_cubic-bezier(0,0,0.2,1),opacity_120ms_cubic-bezier(0,0,0.2,1)];
}

.p-confirmpopup-leave-active {
  @apply transition-opacity duration-100 ease-linear;
}

.p-confirmpopup-flipped:after,
.p-confirmpopup-flipped:before {
  @apply bottom-auto top-full;
}

.p-confirmpopup-flipped:after {
  @apply border-b-transparent border-t-surface-0 dark:border-t-surface-900;
}

.p-confirmpopup-flipped:before {
  @apply border-b-transparent border-t-surface-200 dark:border-t-surface-700;
}
