@import './button';
@import './message';
@import './progressbar';

.p-fileupload input[type='file'] {
  @apply hidden;
}

.p-fileupload-advanced {
  @apply rounded-md border border-surface-200 bg-surface-0 text-surface-700 dark:border-surface-700 dark:bg-surface-900 dark:text-surface-0;
}

.p-fileupload-header {
  @apply flex items-center gap-2 p-[1.125rem] text-surface-700 dark:text-surface-0;
}

.p-fileupload-content {
  @apply relative border border-transparent px-[1.125rem] pb-[1.125rem] pt-0 transition-colors duration-200;
}

.p-fileupload-content .p-progressbar {
  @apply absolute start-0 top-0 h-1 w-full;
}

.p-fileupload-file-list {
  @apply mt-[1.125rem] flex flex-col gap-2;
}

.p-fileupload-file {
  @apply flex flex-wrap items-center gap-2 border-b border-surface-200 p-4 last:border-b-0 dark:border-surface-700;
}

.p-fileupload-file-info {
  @apply flex flex-col gap-2;
}

.p-fileupload-file-thumbnail {
  @apply flex-shrink-0;
}

.p-fileupload-file-actions {
  @apply ms-auto;
}

.p-fileupload-highlight {
  @apply border border-dashed border-primary;
}

.p-fileupload-advanced .p-message {
  @apply mt-0;
}

.p-fileupload-basic {
  @apply flex flex-wrap items-center justify-center gap-2;
}
