.p-scrollpanel-content-container {
  @apply relative z-10 float-left h-full w-full overflow-hidden;
}

.p-scrollpanel-content {
  @apply relative h-[calc(100%+18px)] w-[calc(100%+18px)] overflow-auto pb-[18px] pr-[18px] ps-0 pt-0 [scrollbar-width:none];
}

.p-scrollpanel-content::-webkit-scrollbar {
  @apply hidden;
}

.p-scrollpanel-bar {
  @apply relative z-20 cursor-pointer rounded-sm border-none bg-surface-100 opacity-0 transition-opacity duration-200 focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary dark:bg-surface-800;
}

.p-scrollpanel-bar-y {
  @apply top-0 w-[9px];
}

.p-scrollpanel-bar-x {
  @apply bottom-0 h-[9px];
}

.p-scrollpanel-hidden {
  @apply invisible;
}

.p-scrollpanel:hover .p-scrollpanel-bar,
.p-scrollpanel:active .p-scrollpanel-bar {
  @apply opacity-100;
}

.p-scrollpanel-grabbed {
  @apply select-none;
}
