.p-textarea {
  @apply appearance-none rounded-md border border-surface-300 bg-surface-0 px-3 py-2 text-surface-700 shadow-[0_1px_2px_0_rgba(18,18,23,0.05)] outline-none transition-colors duration-200 placeholder:text-surface-500 enabled:hover:border-surface-400 enabled:focus:border-primary disabled:bg-surface-200 disabled:text-surface-500 disabled:opacity-100 dark:border-surface-700 dark:bg-surface-950 dark:text-surface-0 dark:placeholder:text-surface-400 dark:enabled:hover:border-surface-600 dark:disabled:bg-surface-700 dark:disabled:text-surface-400;
}

.p-textarea.p-invalid {
  @apply border-red-400 dark:border-red-300;
}

.p-textarea.p-variant-filled {
  @apply bg-surface-50 dark:bg-surface-800;
}

.p-textarea-fluid {
  @apply w-full;
}

.p-textarea-resizable {
  @apply resize-none overflow-hidden;
}

.p-textarea-sm {
  @apply px-[0.625rem] py-[0.375rem] text-sm;
}

.p-textarea-lg {
  @apply px-[0.875rem] py-[0.625rem] text-lg;
}
