.p-timeline {
  @apply flex flex-grow flex-col;
}

.p-timeline-left .p-timeline-event-opposite {
  @apply text-end;
}

.p-timeline-left .p-timeline-event-content {
  @apply text-start;
}

.p-timeline-right .p-timeline-event {
  @apply flex-row-reverse;
}

.p-timeline-right .p-timeline-event-opposite {
  @apply text-start;
}

.p-timeline-right .p-timeline-event-content {
  @apply text-end;
}

.p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(even) {
  @apply flex-row-reverse;
}

.p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(odd)
  .p-timeline-event-opposite {
  @apply text-end;
}

.p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(odd)
  .p-timeline-event-content {
  @apply text-start;
}

.p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(even)
  .p-timeline-event-opposite {
  @apply text-start;
}

.p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(even)
  .p-timeline-event-content {
  @apply text-end;
}

.p-timeline-vertical .p-timeline-event-opposite,
.p-timeline-vertical .p-timeline-event-content {
  @apply px-4 py-0 leading-none;
}

.p-timeline-vertical .p-timeline-event-connector {
  @apply w-[2px];
}

.p-timeline-event {
  @apply relative flex min-h-20 last:min-h-0;
}

.p-timeline-event-opposite {
  @apply flex-1;
}

.p-timeline-event-content {
  @apply flex-1;
}

.p-timeline-event-separator {
  @apply flex flex-none flex-col items-center;
}

.p-timeline-event-marker {
  @apply relative inline-flex h-[1.125rem] w-[1.125rem] items-center justify-center self-baseline rounded-full border-2 border-surface-200 bg-surface-0 before:h-[0.375rem] before:w-[0.375rem] before:rounded-full before:bg-primary after:absolute after:h-full after:w-full after:rounded-full after:shadow-[0px_0.5px_0px_0px_rgba(0,0,0,0.06),0px_1px_1px_0px_rgba(0,0,0,0.12)] dark:border-surface-700 dark:bg-surface-900;
}

.p-timeline-event-connector {
  @apply flex-grow bg-surface-200 dark:bg-surface-700;
}

.p-timeline-horizontal {
  @apply flex-row;
}

.p-timeline-horizontal .p-timeline-event {
  @apply flex-1 flex-col;
}

.p-timeline-horizontal .p-timeline-event:last-child {
  @apply flex-none;
}

.p-timeline-horizontal .p-timeline-event-separator {
  @apply flex-row;
}

.p-timeline-horizontal .p-timeline-event-connector {
  @apply h-[2px] w-full;
}

.p-timeline-horizontal .p-timeline-event-opposite,
.p-timeline-horizontal .p-timeline-event-content {
  @apply px-0 py-4;
}

.p-timeline-horizontal.p-timeline-alternate .p-timeline-event:nth-child(even) {
  @apply flex-col-reverse;
}

.p-timeline-bottom .p-timeline-event {
  @apply flex-col-reverse;
}
